@media (max-width: 1050px){

    #title{
        font-size: 36px;
    }
    #title1{
        font-size: 16px;
    }
    header, .space{height: 15vh;}
    
    .headerButton{
        min-width: unset;
        padding: 4px;
    }
    #headerRow{
        display: none;
    }
    #headerMobile{
        display: grid;
        grid-template: "a"
                       "a";
    }
    #headerRow2{
        display: grid;
        grid-template: "a a a a"
                       "a a a a";
    }
    .hideInMobile{
        display: none;
    }
    .showInMobile{
        display: block;
    }
    main{
        min-height: 80vh;
    }
    .headline{
        font-size: 24px;
        min-width: none;
    }
    #map{
        width: 90vw;
    }
    .contactsText{
        font-size: 16px;
    }
    #menu{
        display: grid;
        grid-template: "a a a a"
                       "a a a a"
                       "a a a a";
    }
    #servicesRow{
        flex-direction: column;
        margin-left: 8px;
    }
    .menuItem{
        font-size: 16px;
        min-width: 80px;
        margin-left: 0;
    }
    .serviceList{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imageBlock{
        display: none;
    }
    #textTable{
        grid-template: "a"
                       "a";
    }
}